{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'ipoe.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'ipoe.css' %}" />
        <title>{% block title %}iPoe{% endblock %}</title>
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
