{% extends 'base.html' %}

{% block title %}
poetry editor
{% endblock %}

{% block header %}
<h1>{{ poem.get_name }} editor</h1>
{% endblock %}

{% block content %}
<div class="textarea">
    {{ poem.as_text_area|safe }}
</div>
<div class="control">
    <button onclick="saveTextAsFile()">Download Poem</button>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
// Thanks to  'http://thiscouldbebetter.wordpress.com/2012/12/18/loading-editing-and-saving-a-text-file-in-html5-using-javascrip/'
function saveTextAsFile() {
    var textToWrite = document.getElementById("poem_content").value;
    var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
    var fileNameToSaveAs = "poem.txt"
    // Why 'a'? I don't know, but longer names don't seem to work.
    var downloadLink = document.createElement("a");

    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    if (window.webkitURL != null) { // Chrome allows the link to be clicked without actually adding it to the DOM.
        downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
    } else {
        // Firefox requires the link to be added to the DOM before it can be clicked.
        downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        downloadLink.onclick = destroyClickedElement;
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
    }
downloadLink.click();
}

function destroyClickedElement(event) { document.body.removeChild(event.target); }
</script>
{% endblock %}
