{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the iPoe editor</h1>

<p>Click a link below to start writing a poem.</p>

<div>
  <span><a href="/editor/english-sonnet">English Sonnet</a></span>
  <span><a href="/editor/italian-sonnet">Italian Sonnet</a></span>
  <span><a href="/editor/haiku">Haiku</a></span>
  <span><a href="/editor/limerick">Limerick</a></span>
  <span><a href="/editor/villanelle">Villanelle</a></span>
  <span><a href="/editor/free">Free Verse</a></span>
  <!-- 2014-08-11: more to come -->
</div>

{% endblock %}
