{% extends 'base.html' %}

{% block title %}add word{% endblock %}

{% block header %}
<h1>Create Word</h1>
<p>Use this form to add words to the iPoe database.</p>
{% endblock %}

{% block content %}
<form action="/create/" method="post">
{% csrf_token %}
    <p>Word:
        <input type="text" name="word_name" value="" required>
    </p>
    <p>Number of Syllables:
        <input type="number" name="num_syllables" value="" required>
    </p>
    
    <input name="submit" type="submit" value="Submit" />
</form>
{% endblock %}
